<link rel="stylesheet" href="~/css/moduli/moduli.css" asp-append-version="true" />



@{
    ViewData["Title"] = "Pacchetti Riccione";
}

@model Moduli

<div class="container mt-5 modulo">
    <div class="row d-flex align-items-center justify-content-center">

        <!-- Immagine a sinistra -->
        <div class="col-lg-4 col-md-6 col-sm-12 mt-3 mt-md-0 text-center">
            <img src="/images/pacchetti/ardea.jpeg" alt="Alternate Text" style="width: 100%;" />
        </div>

        <!-- Cosa è incluso? al centro -->
        <div class="col-lg-4 col-md-6 col-sm-12 mt-3 mt-md-0">
            <div>
                <h3 class="text-center title-incluso">Cosa è incluso</h3>
                <ul class="list-unstyled">
                    <li class="fw-bold"><span class="number">7</span> Notti in Appartamento</li>
                    <li class="fw-bold"><span class="number">6</span> Ingressi In Discoteca</li>
                    <li class="fw-bold"><span class="number">1</span> Ingresso all'Aquafan di Riccione</li>
                    <li class="fw-bold"><img width="30" height="30" src="https://img.icons8.com/ios-filled/50/cocktail.png" alt="cocktail" />Drink Incluso in tutte le serate</li>
                    <li class="fw-bold"><img width="30" height="30" src="https://img.icons8.com/ios-glyphs/30/bus.png" alt="bus"/></i>Navette Incluse A/R</li>
                    <li class="fw-bold"><img width="30" height="30" src="https://img.icons8.com/ios-filled/50/sun-lounger.png" alt="sun-lounger" />Lettino e Beach Party tutti i giorni</li>
                    <li class="fw-bold"><img width="30" height="30" src="https://img.icons8.com/ios-filled/50/online-support.png" alt="online-support" />Assistenza 24 ore su 24</li>
                </ul>
            </div>
        </div>

        <!-- Form a destra -->
        <div class="col-lg-4 col-md-6 col-sm-12 mt-3 mt-md-0 formPrenotazione">
            <h4 class="text-center mb-4 mt-3">Modulo Prenotazione</h4>
            <!-- Inizio Form -->
            <form id="bookingForm" class="g-3" asp-controller="Pacchetti" asp-action="Ardea" method="post">
                <div class="col-md-12">
                    <label asp-for="@Model.DataArrivo" class="form-label">Check-in</label>
                    <input type="date" class="form-control" asp-for="@Model.DataArrivo" required>
                </div>
                <div class="col-md-12">
                    <label asp-for="@Model.DataPartenza" class="form-label">Check-out</label>
                    <input type="date" class="form-control" asp-for="@Model.DataPartenza" required>
                </div>
                <div class="col-md-12">
                    <label asp-for="@Model.Nome" class="form-label">Nome</label>
                    <input type="text" class="form-control" asp-for="@Model.Nome" required>
                </div>
                <div class="col-md-12">
                    <label asp-for="@Model.Cognome" class="form-label">Cognome</label>
                    <input type="text" class="form-control" asp-for="@Model.Cognome" required>
                </div>
                <div class="col-md-12">
                    <label asp-for="@Model.Email" class="form-label">Email</label>
                    <input type="email" class="form-control" asp-for="@Model.Email" required>
                </div>
                <div class="col-md-12">
                    <label asp-for="@Model.NumPersone" class="form-label">Adulti</label>
                    <input type="number" class="form-control" asp-for="@Model.NumPersone" required>
                </div>
                <div class="col-md-12">
                    <label asp-for="@Model.Cellulare" class="form-label">Cellulare</label>
                    <input type="tel" class="form-control" asp-for="@Model.Cellulare" required>
                </div>

                <p id="error-msg"></p>

                <div class="col-12 text-center mt-4">
                    <button type="submit" class="btn custom-btn" style="color:white">Preventivo Gratuito</button>
                </div>
            </form>
            <!-- Fine Form -->
        </div>

    </div>
</div>






        



        <script src="~/js/ValidatoreData.js"></script>
